*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: purple;
  width: 100%;
}
main{
  width: 50%;
  display: grid;
  margin: auto;
  margin-top: 125px;
  grid-template-areas: 
  "a a a a b b"
  "a a a a b b"
  "c c c d d d"
  "c c c e e e"
  ;
  gap: 15px;
}
main div{
  padding: 50px;;
}
.boxa{
  background-color: red;
  grid-area: a;
  padding: 100px;
}
.boxb{
  background-color: rgb(255, 153, 0);
  grid-area: b;
  padding: 100px;
}
.boxc{
  background-color: green;
  grid-area: c;
}
.boxd{
  background-color: rgb(89, 89, 247);
  grid-area: d;
}
.boxe{
  background-color: rgb(89, 89, 247);
  grid-area: e;
}