html, body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;

}

.mybody{
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: rgb(134, 151, 117);
}

input{
  width: 100%;
  padding: 10px;
  background-color: rgb(137, 190, 192);
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

input:focus{
  background-color: blanchedalmond;
  border: none;
}

.registration{
  width: 100%;
  cursor: pointer;
  background-color:  rgb(9, 107, 110);
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

h1 {
  text-align: center;
  color: rgb(9, 107, 110);
  width: 100%;
  font-size: 50px;
}
 

.par {
  text-align: center;
  color: rgb(9, 107, 110);
  width: 100%;
  font-size: 20px;
}

textarea{
  resize: none;
}

footer{
   background-color: rgb(134, 151, 117);
}

.section1{
  display: flex;
   background-color: rgb(134, 151, 117);
  list-style-type: none;
}

.section2{
  display: flex;
   background-color: rgb(134, 151, 117);
  border-style: none;
  padding: 80px;
  font-size: 40px;
}

.section3{
   background-color: rgb(134, 151, 117);
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
}

.section4{
  background-color: rgb(134, 151, 117);
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
}

.section5{
  display: flex;
   background-color: rgb(134, 151, 117);
  justify-content: space-between;
  align-items: center;
  margin: 100px;
  
}

.skill{
  background-color: white;
}

.hobby{
  background-color: white;
}

.project{
  background-color: white;
}

.service1{
  background-color: white;
}

.service2{
 background-color: white;
}

.service3{
 background-color: white;
}

a{
  color:white;
}

.nav1{
  background-color: rgb(134, 151, 117);
}
.nav2{
  background-color: rgb(134, 151, 117);
  text-decoration: none;
  margin-right: 50px;
}

.contact{
  background-color: white;
  padding: 20px;
}
 a{
   text-decoration: none;
   margin-right: 40px;
 }

.picture{
  width: 600px;
  height: 700px;
}

.me{
  font-size: 20px;
}