html, body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;

}

.mybody{
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: chartreuse;
}

input{
  width: 100%;
  padding: 10px;
  background-color: cadetblue;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

input:focus{
  background-color: blanchedalmond;
  border: none;
}

a {
  color: green;
}

.registration{
  width: 100%;
  cursor: pointer;
  background-color: rgb(4, 111, 182);
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

h1 {
  text-align: center;
  color: rgb(9, 107, 110);
  width: 100%;
  font-size: 50px;
}
 
div{
  background-color: white;
  border:1px solid white; 
  border-radius:2px;
  padding: 20px;
}